<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <appSettings>
    <add key="AES_PassPhrase" value="#{Octo_AES_password}"/>
    <add key="AES_Salt" value="#{Octo_AES_Salt}"/>
    <add key="AES_Test_Crypted" value="#{Octo_AES_Test_Crypted}"/>
    <add key="AES_Test_Clear" value="#{Octo_AES_Test_Clear}"/>

    <remove key="AES_PassPhrase"/>
    <remove key="AES_Salt"/>
    <remove key="AES_Test_Crypted"/>
    <remove key="AES_Test_Clear"/>

    <add key="AES_PassPhrase" value="MySecretPassword4![]{}$"/>
    <add key="AES_Salt" value="123456789"/>
    <add key="AES_Test_Crypted" value="AOZT5xpNUV5GjoON+tTB8HAI+62pFG54q3rpukjSIw6GevPwDBO2yBWz/OCUY0Lq"/>
    <add key="AES_Test_Clear" value="this_is_my_test_code"/>
  </appSettings>
</configuration>